<!doctype html>
<head>
<title>{% block title %}- Flaskr{% endblock %} </title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  {% block import %}{% endblock %}
</head>
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->

<!--<nav>-->
<!--  <h1>Flaskr</h1>-->
<!--  <ul>-->
<!--    {% if g.user %}-->
<!--      <li><span>{{ g.user['username'] }}</span>-->
<!--      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>-->
<!--    {% else %}-->
<!--      <li><a href="{{ url_for('auth.register') }}">Register</a>-->
<!--      <li><a href="{{ url_for('auth.login') }}">Log In</a>-->
<!--    {% endif %}-->
<!--  </ul>-->
<!--</nav>-->

<!--1:main-->
<!--2:user \\ register -->
<!--3:genereateText  \\ doesn't have to be registered -->
<!--4:classify Tweets \\must be registered -->
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" {% block homeActive %}{%endblock%}style="color:gray;" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item {% block userActive %}{%endblock%}">
          <a class="nav-link" href="/user">Userpage</a>
        </li>


        <li class="nav-item dropdown">



          <a class="nav-link dropdown-toggle" href="#" role="button" id="navbarDropdown"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Serivces
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item {% block gentextActive %}{%endblock%}" href="/text-gen" >Generate Text</a>
            <a class="dropdown-item {% block classifyTwitterActive %}{%endblock%} " href="/twitter-classification">Classify Twitter</a>
          </div>
        </li>
        <li class="nav-item {% block aboutProject %}{%endblock%}">
          <a class="nav-link" href="/about">About </a>
        </li>


      </ul>

      <ul  class=" my-2 my-lg-0" >
        {% if g.user %}
          <li><span>{{ g.user['username'] }}</span>
          <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
        {% else %}
          <li><a href="{{ url_for('auth.register') }}">Register</a>
          <li><a href="{{ url_for('auth.login') }}">Log In</a>
        {% endif %}
      </ul>
    </div>
  </nav>

<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash alert" >{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
<script>window.setTimeout(function() {
    $(".alert").fadeTo(500, 0)
}, 4000);</script>
</body>

<!--    <form class="form-inline my-2 my-lg-0">-->
<!--      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
<!--      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
<!--    </form>-->


</html>